.container-package{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    background-color: #0f0e9f;
    margin-top: 0;
    padding: 20px;
    color: white;
}