.header{
    background-color: pink;
    display: grid;
    grid-template-columns: 160px 1fr 3fr;
    align-items: center;

}
a{
    text-decoration: none;
    margin: 0, auto;
}
.nav-menu{
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list{
    padding: 20px;
}