@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.App {
  text-align: center;
}


* {
  font-family: 'Ubuntu', sans-serif;
}

table{
  width: 80%;
    margin: 0 auto;
}
footer{

  width: 100%;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  margin-top: 50px;
  bottom: 0px;
}
